<!DOCTYPE html>
<html>
<body>
  <h1>Halaman Tambah Items</h1>

<table border = '2px'>
<form action="/items/add" method="POST">
  <label>Nama : <input type="text" name="name" placeholder="name" </label>
  <label>Brands : <input type="text" name="brand" placeholder="brand"</label>
  <label>Code Items : <input type="text" name="codeitem" placeholder="codeitem"</label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</body>
</html>
