<!DOCTYPE html>
<html>
<body>
  <h1>Halaman Tambah Suppliers</h1>

<table border = '2px'>
<form action="/suppliers/add" method="POST">
  <label>Nama : <input type="text" name="nama" placeholder="nama" </label>
  <label>Kota : <input type="text" name="kota" placeholder="kota"</label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</body>
</html>
