<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
<h1>HALAMAN INDEX</h1>
  <ul>
    <a href="/">Home</a></li>
    <a href="/suppliers">Suppliers</a></li>
    <a href="/items">Items</a></li>
    <a href="/transaksi">Search</a></li>
  </ul>

</body>

</html>
